@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  width: min(100% - 1rem, 1048px);
  margin-inline: auto;
}

.tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.footer-logo {
  @apply w-[20px] relative
}

.footer-logo::before {
  @apply absolute content-[''] h-[1px] min-w-[150px] w-full bg-[#444] top-1/2 right-[2rem]
}

.footer-logo::after {
  @apply absolute content-[''] h-[1px] min-w-[150px] w-full bg-[#444] top-1/2 left-[2rem]
}