@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "Glacial Indifference Regular";
  src: url('../public/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
  font-style: normal;
}


body {
  font-family: 'Montserrat', sans-serif;
}

header {
  font-family: 'Glacial Indifference Regular', sans-serif;
  letter-spacing: 2px;
}

.main-container {
  width: min(100% - 1rem, 1048px);
  height: 100%;
  margin-inline: auto;
}

.tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.footer-logo {
  @apply w-[20px] relative
}

.footer-logo::before {
  @apply absolute content-[''] h-[1px] min-w-[150px] w-full bg-[#444] dark:bg-[#f4f4f4] top-1/2 right-[2rem]
}

.footer-logo::after {
  @apply absolute content-[''] h-[1px] min-w-[150px] w-full bg-[#444] dark:bg-[#f4f4f4] top-1/2 left-[2rem]
}

@media (prefers-color-scheme: dark){
  body {
    background-color: #141413;
    color: #f4f4f4;
  }
}